# Ignore Visual Studio files
*.suo
*.user
*.ncb
*.aps
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sdf
*.opensdf
*.sln.docstates
*.v2
*vsidx
*.v5.2

# Ignore build output
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.ilk
*.resources
*.obj
*.cache
*.class
*.psess
*.VC.db
*.suo
*.sln.docstates
